<!DOCTYPE html>
<html>
<head>
    <title>Farmers Markets</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <h1>MN MarketLink</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/markets">Markets</a>
        <a href="/search">Search Products</a>
    </nav>
</header>

<h2>Farmers Markets</h2>

<ul>
    {% for m in markets %}
        <li>
            <a href="/markets/{{ m.market_id }}">
                {{ m.market_name }} - {{ m.location }}
            </a>
        </li>
    {% endfor %}
</ul>

</body>
</html>
